input { padding: 2px; border-radius: 4px; border: none; }
input:focus { background-color: #ebff00; }
form { margin: 30px; padding: 20px; text-align: center; border: solid 2px; }

form fieldset { margin-top: 20px; padding: 20px; text-align: left; min-inline-size: unset; }

form fieldset.privacy>div { width: 100%; height: 20px; margin-top: 10px; }
form fieldset.privacy>div:first-of-type {  margin-top: 0px; }
form fieldset.privacy>div>label { width: 15%; float: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
form fieldset.privacy>div>input { width: 80%; float: left; }

form fieldset.environment>div:nth-of-type(1)>div:first-of-type { margin-top: 10px; }
form fieldset.environment>div:nth-of-type(2)>div:first-of-type { margin-top: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
form fieldset.environment>div:nth-of-type(2) select { width: 80%; margin-top: 10px; font-size: 14px; }

form fieldset.etc>div label { float: left; }
form fieldset.etc>div:nth-of-type(1) { margin-top: 10px; }
form fieldset.etc>div:nth-of-type(1) input { margin-left: 10px; }
form fieldset.etc>div:nth-of-type(1) output { margin-left: 10px; }
form fieldset.etc>div:nth-of-type(2) { margin-top: 20px; }
form fieldset.etc>div:nth-of-type(2) textarea { width: 90%; max-width: 90%; min-width: 150px; height: 85px; min-height: 14px; margin-left: 10px; }

form button { margin: 8px 0; padding: 14px 20px; width: 40%; border: none; border-radius: 4px; cursor: pointer; background-color: #17a131; color: white; font-size: 18px;}
form button[type=reset] { background-color: red !important; }
